@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dans un fichier global CSS (par exemple styles.css) */

@font-face {
  font-family: "Liberty";
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/907368/liberty.otf');
}
*{
  font-family: 'Josefin Sans';
}
.neon-text {
  font-size: 2rem; /* Ajuste selon tes besoins */
  font-weight: bold;
  color: #ffdbac;
  text-shadow: 0 0 5px #ffdbac, 0 0 10px #ffdbac, 0 0 20px #ff85b3, 0 0 40px #ff85b3;
  animation: colorChange 5s infinite; /* Change la durée selon tes besoins */
}

.text {
  font-family: 'Liberty';
  font-weight: 80;
  font-size: 2rem;
  letter-spacing: -0.1em;
}

.letter {
  color: #d9fdff;
  text-shadow: 0 0 2rem #F4A300;
  display: inline-block;
}

.letter-2 {
  transform: translate(-0.2rem, 1rem) rotate(10deg);
  animation: flicker 2s ease-in-out infinite alternate;
}

.test {
  font-size: 50px; /* Taille du texte */
  font-weight: bold; /* Texte en gras pour un meilleur effet */
  color: transparent; /* Le texte est transparent */
  background: linear-gradient(90deg, black, white, black); /* Dégradé */
  background-size: 200% 100%; /* Taille initiale du background (plus large que le texte) */
  background-clip: text; /* Applique le background uniquement sur le texte */
  -webkit-background-clip: text; /* Compatibilité pour certains navigateurs */
  animation: revealText 5s infinite linear; /* Animation */
}

.text-border {
  color: #deb879; /* couleur or ou celle de "text-gold-rose" */
  text-shadow: 
    -1px -1px 0 black, 
    1px -1px 0 black, 
    -1px 1px 0 black, 
    1px 1px 0 black;
}


@keyframes revealText {
  0% {
    background-position: 0% 50%; /* Le background cache complètement le texte */
  }
  100% {
    background-position: 100% 50%; /* Le background se déplace pour révéler le texte */
  }
}



@keyframes flicker {
  0%, 5%, 6%, 6.5%, 8%, 50%, 100% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  5.5%, 7% {
    opacity: 0;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  50% {
    transform: translate(-0.2rem, 1rem) rotate(30deg);
  }
}

@layer base {
  body {
    @apply bg-black text-gold-rose  font-sans ;
  }
}

@layer components {
  .btn {
    @apply  font-bold m-2 px-4 py-2 rounded-lg transform transition-transform duration-300;
  }
  .btn:hover {
    @apply border-gold-rose bg-gold-rose text-black -translate-y-2;
  }
  .heading-1 {
    @apply text-4xl sm:text-5xl text-center font-bold text-white mb-4;
  }
  .heading-2 {
    @apply text-2xl md:text-3xl font-semibold text-center text-gold-rose mb-4;
  }
  .paragraph {
    @apply text-lg sm:text-xl lg:text-2xl text-center text-gray-300 mt-4;
  }
  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  .animated-bg {
    background: linear-gradient(270deg, #1f1f1f, #1a1a1a, #f5f2f2);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
  }
  @keyframes borderColorChange {
    0% {
      border-color: gold;
    }
    100% {
      border-color: white;
    }
  }
  .animated-border {
    animation: borderColorChange 2s infinite alternate;
  }
}
